@import "tailwindcss";
@theme {
  --color-main-purple: #7030A0;
  --color-light-blue: #E8F1F9;
  --color-active-text: #2A843C;
  --color-active-bg: #EBF7ED;
  --color-text-blue: #5FA1DA;
  --color-text-light-blue: #A3C9EA;
  --color-text-dark-blue: #1666AC;
  --color-text-muted: #DEE2E6;
  --color-text-gray: #6A7178;
  --color-text-blue-underline: #009DDE;
  --color-card-dark-blue: #1A79CB;
  --color-card-light-blue: #F4FAFF;
  --color-card-separator: #93B0C8;
  --color-card-text-dark-blue: #0E426F;
  --color-card-text-gray: #343A40;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }

  .test {
    background-color: red;
    color: #2A843C;
  }

  .sort-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .filter-item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
  }

  .filter-item-input {
    grid-column: span 2; 
    height: 2rem;
  }

  .employee-card-text {
    width: 33.333%;
    color: var(--color-card-text-gray);
    font-size: 0.875rem;
    white-space: nowrap;
  }

  .stats-title {
    font-size: 0.875rem;
    color: var(--color-text-light-blue);
  }

  .stats-data {
    font-size: 1.125rem;
    color: var(--color-text-blue);
    font-weight: 600;
  }
}