body {
    padding: 0;
    margin: 0;
}

.layout {
    height: 100vh;
    background: #0f0;
}

.menu {
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
}

.layout.menu--is-open .menu {
    
    width: 300px;
}

.content {
    background: #00f;
    margin-left: 80px;
    display: flex;
    height: 500px;
}